.modal {
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
    position: fixed;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    outline: none;
}

.image {
    text-align: center;
}

.imageModal {
    max-width: 100%;
    height: 100%;
}
