.loadMoreBtn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #6076ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
 
 .loadMoreBtn:hover {
     background-color: #0010c3;
 }

body {
    margin: 0;
    display: flex;
    place-items: center;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}